REDIS_PORT=6379

PLATFORM_DB_USER=platform
PLATFORM_DB_PASSWORD=platform_pw
PLATFORM_DB_NAME=platform_db
PLATFORM_DB_PORT=5432

BOT_DB_USER=quantgambit
BOT_DB_PASSWORD=quantgambit_pw
BOT_DB_NAME=quantgambit_bot
BOT_DB_PORT=5433
